:root {
    --verde-claro: #037971ff;
    --verde-oscuro: #023436ff;
    --crema: rgb(205, 205, 205);
    /* los violeta se ven un poco opacos, quizá sea mejor cambiarlos */
    --violeta-claro: #665687ff;
    --violeta-oscuro: #5d4e6dff;
    --naranja: #f79256ff;
    --celeste: #bbd5edff;
    --yellow-green: #9acd32ff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c0b7b1ff;
}

/* --------------------------------------------------------------HEADER---------------------------------------------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--verde-claro);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

/* Estilos para la imagen */
.logo {
    width: 7%;
    height: auto;
}

/* Estilos para los iconos */
.iconos {
    display: flex;
    gap: 15px;
}


.icono img {
    width: 30px;
    height: auto;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------MENU DE NAVEGACION ENTRE PAGINAS----------------------------------------------------------- */
nav {
    background-color: var(--verde-oscuro);
}

.nav-ul-superior {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

.opcion {
    margin: 0 15px;
}

.menu-superior {
    color: #ffffff;
    font-size: 80%;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: 500;
}

.menu-superior:hover {
    /* color: var(--naranja); */
    background-color: var(--naranja);
    color: black;
    font-weight: 525;
}

#login {
    margin-right: 15px;
    margin-left: auto;
}

#login .menu-superior:hover {
    background-color: var(--crema);
    color: black;
    font-weight: 525;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------BANNER-------------------------------------------------------------------------------------- */
.banner {
    background: url('furniture.jpg') no-repeat center center/cover;
    color: black;
    text-align: center;
    padding: 3%;
    background-color: var(--celeste);
}

.banner h2 {
    font-size: xx-large;
}

#slogan {
    font-style: italic;
    font-weight: 600;
    font-size: medium;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------LOGIN LINKS-------------------------------------------------------------------------------------- */
.login {
    background-color: var(--violeta-claro);
    padding: 10px;
    text-align: center;
}

.container_login {
    max-width: 800px;
    margin: 0 auto;
}

.links {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: var(--naranja);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.links:hover {
    background-color: #C25E24;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/



.news {
    padding: 50px 20px;
    background-color: var(--crema);
}

.news .container {
    max-width: 1200px;
    margin: 0 auto;
}

.news h2 {
    text-align: center;
    margin-bottom: 40px;
}

.news-list {
    display: flex;
    justify-content: space-between;
}

.news-item {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.news-item img,
iframe {
    max-width: 100%;
    height: auto;
}

#iframe-height {
    height: 68%;
}

.news-item h3 {
    margin: 10px 0;
}

.boton-noticia {
    padding: 5px;
    background-color: var(--naranja);
    /* margin-top: 2px; */
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 2px;
}

/*-------------------------------------FORMULARIOS---------------------------------------------*/
.FORMULARIOS {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    /* Asegura que los formularios tengan la misma altura */
    width: 80%;
    max-width: 1000px;
    margin: 1% auto;
}

.form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form h2 {
    margin-bottom: 20px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: rgb(216, 121, 66);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
}

.form button:hover {
    background-color: #0056b3;
}



/*---------------------------------------------------------------------------------------*/



/* ---------------------------------------------------FOOTER-------------------------------------------------------------------------------------- */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

.footer-container {
    font-size: small;
    font-style: italic;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------FOOTER NAV-------------------------------------------------------------------------------------- */

.footer-nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    /* float: left; */
    height: inherit;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-nav ul li {
    /* margin-bottom: 10px; */
    text-align: center;
}

.footer-banner {
    /* background-color: var(--vermilion); */
    width: 100%;
    display: inline-block;
}


.menu-inferior {
    color: #ffffff;
    font-size: small;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: 500;
}

.menu-inferior:hover {
    /* color: var(--naranja); */
    /* background-color: var(--naranja); */
    color: var(--naranja);
    font-weight: 525;
}

#logout:hover {
    color: var(--verde-claro);
    font-weight: 540;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------- */