:root {
    --verde-claro: #037971ff;
    --verde-oscuro: #023436ff;
    --crema: #c0b7b1ff;
    /* los violeta se ven un poco opacos, quizá sea mejor cambiarlos */
    --violeta-claro: #665687ff;
    --violeta-oscuro: #5d4e6dff;
    --naranja: #f79256ff;
    --celeste: #bbd5edff;
    --yellow-green: #9acd32ff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c0b7b1ff;
}

/* --------------------------------------------------------------HEADER---------------------------------------------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--verde-claro);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

/* Estilos para la imagen */
.logo {
    width: 7%;
    height: auto;
}

/* Estilos para los iconos */
.iconos {
    display: flex;
    gap: 10px;
}


.icono img {
    width: 30px;
    height: auto;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------MENU DE NAVEGACION ENTRE PAGINAS----------------------------------------------------------- */
nav {
    background-color: var(--verde-oscuro);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    font-size: 80%;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------BANNER-------------------------------------------------------------------------------------- */
.banner {
    background: url('furniture.jpg') no-repeat center center/cover;
    color: black;
    text-align: center;
    padding: 100px 20px;
    background-color: var(--crema);
}

.banner h2 {
    font-size: 3em;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------LOGIN LINKS-------------------------------------------------------------------------------------- */
.login {
    background-color: var(--violeta-claro);
    padding: 10px;
    text-align: center;
}

.container_login {
    max-width: 800px;
    margin: 0 auto;
}

.links {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: var(--naranja);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.links:hover {
    background-color: #C25E24;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/



.products {
    padding: 50px 20px;
    background-color: var(--celeste);
}

.products .container {
    max-width: 1200px;
    margin: 0 auto;
}

.products h2 {
    text-align: center;
    margin-bottom: 40px;
}

.product-list {
    display: flex;
    justify-content: space-between;
}

.product-item {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item h3 {
    margin: 10px 0;
}

.boton-noticia {
    padding: 7px;
    background-color: var(--naranja);
    /* margin-top: 2px; */
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 4px;

}

/*-------------------------------------FORMULARIOS---------------------------------------------*/
.FORMULARIOS {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    /* Asegura que los formularios tengan la misma altura */
    width: 80%;
    max-width: 1000px;
    margin: 1% auto;
}

.form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form h2 {
    margin-bottom: 20px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: rgb(216, 121, 66);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
}

.form button:hover {
    background-color: #0056b3;
}



/*---------------------------------------------------------------------------------------*/



/* ---------------------------------------------------FOOTER-------------------------------------------------------------------------------------- */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------- */